@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    min-height: 100%;

}

.carmen {
    width: 100%;
}

button {
    background-color: #3C5066;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 35%;
    height: 40px;
    border-color: #3C5066;
    margin-top: 8%;


}

.button2 {
    background-color: white;
    color: #3C5066;
    border-color: #3C5066;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.navbar-toggle{
    background-color: #3C5066;
    border-color: white;
}
.navbar-toggle  .icon-bar,span{
    color: white;
}
.nav{
    background-color: #3C5066;
}

.footer {
    margin-top: 5%;
    background-color:#1F1F1F;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    height: 90px;
}

h2{
    font-size: 16px;
    color:white;

}

.navbar{
    background-color: #3C5066;
    font-size: 25px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 60px;

}
 a,ul{
    color:white;
    font-size: 13px;

 }
img{
  margin-top: 20%;
  border-radius: 10px;
}
.texto-ui,.texto-cine{
  margin-top: 20%;
  text-align: center;
}
h3{
  font-size: 40px;
  color: #3C5066;
}