@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    min-height: 100%;

}

.navbar-toggle {
    background-color: #3C5066;
    border-color: white;
}

.navbar-toggle .icon-bar,
span {
    color: white;
}

.nav {
    background-color: #3C5066;
}

.footer {
    margin-top: 5%;
    grid-area: footer;
    background-color: #1F1F1F;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    height: 90px;
}

h1,
h2 {
    font-size: 25px;
    color: black;

}

h3 {
    font-size: 16px;
    color: white;
}

.navbar {
    background-color: #3C5066;
    font-size: 25px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 60px;

}

a,
ul {
    color: white;
    font-size: 13px;

}

.directorio {
    margin-top: 10%;
}

img {
    width: 5%;

}
.container{
    white-space: 55px;
}