@import "generales/variables";
@import "generales/headerFooter";

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family:$font;
    min-height: 100%;

}

@import "page/index";
@import "page/contacto";
@import "page/proyectos";
@import "generales/mediaQ";