/*index*/
@import "generales/variables";


figure {
    .barner {
        width: 100%;
    }
}

section {
    .fotoPerfil {
        .carmen {
            width: 100%;
        }
    }

    .biografia {
        .contenedor {
            @keyframes cambiar {

                0% {
                    margin-top: 0;
                }

                20% {
                    margin-top: 0;
                }

                25% {
                    margin-top: -40px;
                }

                50% {
                    margin-top: -40px;
                }

                55% {
                    margin-top: -80px;
                }

                80% {
                    margin-top: -80px;
                }

                85% {
                    margin-top: -40px;
                }

                95% {
                    margin-top: -40px;
                }

                100% {
                    margin-top: 0;
                }
            }


            display: flex;
            width: 100%;
            height: 40px;
            color: $black;
            font-size: 40px;
            line-height: 40px;
            font-family: 'Helvetica',
            'Arial',
            sans-serif;



            top: 90px;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: hidden;

            ul {
                list-style: none;
                padding-left: 10px;
                animation: cambiar 7s infinite;

                li {
                    color: $blue;
                    font-size: 40px;
                }
            }


        }

        p {
            margin: 0;
        }

        button {
            background-color:$blue;
            font-size: 16px;
            text-align: center;
            width: 35%;
            height: 40px;
            border-color: $blue;
            margin-top: 8%;
            a{
                color:$white;
            }
        }

        .button2 {
            background-color: $white;
            color: $blue;
            border-color: $blue;
            text-align: center;
            text-decoration: none;
            outline: none;
        }
    }
}

.skills {
    .button-icon {
        margin-top: 10%;
        display: flex;
        border: 3px $white solid;
        width: fit-content;
        height: fit-content;
        cursor: pointer;

        .button-icon:hover .cube {
            transform: rotateX(90deg);
        }

        .button-icon:hover {
            border-color: $blue;
            ;
        }


        .icon {
            background-color: $white;
            padding: 10px 10px 5px 10px;

            svg {
                width: 25px;
                height: 25px;
            }

        }

        .cube {
            transition: all 0.4s;
            transform-style: preserve-3d;
            width: 200px;
            height: 20px;

            span {
                color: $blue ;
                .side {
                    position: absolute;
                    height: 47px;
                    width: 200px;
                    display: flex;
                    font-size: 0.8em;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-weight: bold;

                    .top {
                        background: $blue;
                        ;
                        color: $white;
                        transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
                    }

                    .front {
                        background: #222229;
                        color: $white;
                        transform: translate3d(0, 0, 1em);
                    }
                }
            }

        }
    }

    .container {

        @keyframes progress {
            0% {
                width: 0;
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        position: relative;
        max-width: 500px;
        width: 100%;
        background: #ececec;
        margin: 0 15px;
        padding: 10px 20px;
        border-radius: 7px;
        margin-top: 7%;

        .skill-box {
            width: 100%;
            margin: 25px 0;

            .title {
                display: block;
                font-size: 14px;
                font-weight: 600;
                color: #333;
            }

            .skill-bar {
                height: 8px;
                width: 100%;
                border-radius: 6px;
                margin-top: 6px;
                background: rgba(0, 0, 0, 0.1);

                .skill-per {
                    position: relative;
                    display: block;
                    height: 100%;
                    width: 90%;
                    border-radius: 6px;
                    background: #3C5066;
                    ;
                    animation: progress 0.4s ease-in-out forwards;
                    opacity: 0;

                    .html {
                        /*progreso de las diferentes lenguajes*/
                        width: 50%;
                        animation-delay: 0.1s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }
                    }

                    .css {
                        /*progreso de las diferentes lenguajes*/
                        width: 70%;
                        animation-delay: 0.1s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }
                    }

                    .javascript {
                        /*progreso de las diferentes lenguajes*/
                        width: 50%;
                        animation-delay: 0.2s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }
                    }

                    .nodejs {
                        /*progreso de las diferentes lenguajes*/
                        width: 30%;
                        animation-delay: 0.3s;
                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }

                    }


                }
            }
        }
    }
}
.dev{
    img{
        
            width: 90%;
            margin-top: 10%;
    }
}