/*index*/
@import "generales/variables";


figure {
    .barner {
        width: 100%;
    }
}

section {
    .fotoPerfil {
        .carmen {
            width: 100%;


        }

    }

    .biografia {
        .contenedor {

            p {
                color: coral;
                font-size: 4 rem;
                /*nombre*/
                animation-name: efecto;
                /*veces que se repite*/
                animation-iteration-count: 2;
                /*Duracion de cada vuelta*/
                animation-duration: 5s;
                animation-delay: 2;

            }

            @keyframes efecto {
                0% {
                    color: coral;

                }

                25% {
                    color: #69bff8
                }

                50% {
                    color: #d16ba5;
                }

                75% {
                    color: orangered;
                }

                100% {
                    color: coral;
                }

            }


            @keyframes cambiar {

                0% {
                    margin-top: 0;
                }

                20% {
                    margin-top: 0;
                }

                25% {
                    margin-top: -40px;
                }

                50% {
                    margin-top: -40px;
                }

                55% {
                    margin-top: -80px;
                }

                80% {
                    margin-top: -80px;
                }

                85% {
                    margin-top: -40px;
                }

                95% {
                    margin-top: -40px;
                }

                100% {
                    margin-top: 0;
                }
            }


            display: flex;
            width: 100%;
            height: 40px;
            color: $black;
            font-size: 40px;
            line-height: 40px;
            font-family: 'Helvetica',
            'Arial',
            sans-serif;



            top: 90px;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: hidden;

            ul {
                list-style: none;
                padding-left: 10px;
                animation: cambiar 7s infinite;

                li {
                    color: $blue;
                    font-size: 40px;
                }
            }


        }

        .bio {
            margin-top: 25px;
            text-align: justify;


        }

        button {
            background-color: #eee;
            border: none;
            padding: 1rem;
            font-size: 1rem;
            width: 20em;
            border-radius: 1rem;
            color: lightcoral;
            box-shadow: 0 0.4rem #dfd9d9;
            height: 45px;
            font-size: 10px;
            cursor: pointer;

            :disabled {
                cursor: auto;
                color: grey;
            }
        }

        button:active {
            color: white;
            box-shadow: 0 0.2rem #dfd9d9;
            transform: translateY(0.2rem);
        }

        button:hover:not(:disabled) {
            background: lightcoral;
            color: white;
            text-shadow: 0 0.1rem #bcb4b4;
        }


        .button2 {
            background-color:  lightcoral;
            border: none;
            padding: 1rem;
            font-size: 1rem;
            width: 20em;
            border-radius: 1rem;
            color:$white;
            box-shadow: 0 0.4rem #dfd9d9;
            height: 45px;
            font-size: 10px;
            cursor: pointer;

            :disabled {
                cursor: auto;
                color: grey;
            }
        }

        .button2:active {
            color: white;
            box-shadow: 0 0.2rem #dfd9d9;
            transform: translateY(0.2rem);
        }

        .button2:hover:not(:disabled) {
            background-color: #eee;
            color: lightcoral;
            text-shadow: 0 0.1rem #bcb4b4;
        }
    }
}

section {
    .skills {

        @keyframes progress {
            0% {
                width: 0;
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        position: relative;
        max-width: 500px;
        width: 100%;
        background: #ececec;
        margin: 0 15px;
        padding: 10px 20px;
        border-radius: 7px;
        margin-top: 7%;

        .skill-box {
            width: 100%;
            margin: 25px 0;

            .title {
                display: block;
                font-size: 14px;
                font-weight: 600;
                color: #333;
            }

            .skill-bar {
                height: 8px;
                width: 100%;
                border-radius: 6px;
                margin-top: 6px;
                background: rgba(0, 0, 0, 0.1);

                .skill-per {
                    position: relative;
                    display: block;
                    height: 100%;
                    width: 90%;
                    border-radius: 6px;
                    background: #3C5066;
                    ;
                    animation: progress 0.4s ease-in-out forwards;
                    opacity: 0;

                    .html {
                        /*progreso de las diferentes lenguajes*/
                        width: 50%;
                        animation-delay: 0.1s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }
                    }

                    .css {
                        /*progreso de las diferentes lenguajes*/
                        width: 70%;
                        animation-delay: 0.1s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }
                    }

                    .javascript {
                        /*progreso de las diferentes lenguajes*/
                        width: 50%;
                        animation-delay: 0.2s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }
                    }

                    .nodejs {
                        /*progreso de las diferentes lenguajes*/
                        width: 30%;
                        animation-delay: 0.3s;

                        .tooltip {
                            position: absolute;
                            right: -14px;
                            top: -28px;
                            font-size: 9px;
                            font-weight: 500;
                            color: #fff;
                            padding: 2px 6px;
                            border-radius: 3px;
                            background: #4070f4;
                            z-index: 1;

                            .tooltip::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -2px;
                                height: 10px;
                                width: 10px;
                                z-index: -1;
                                background-color: #4070f4;
                                transform: translateX(-50%) rotate(45deg);
                            }
                        }

                    }


                }
            }
        }
    }


    .dev {
        img {

            width: 100%;
            margin-top: 10%;
        }
    }

}