/*prototipo app*/
@import "generales/variables";
@import "generales/headerFooter";

main{
    iframe{
        border:1px solid  rgba(0, 0, 0, 0.1);
        width: 100%;
        height:650px;
        margin-top: 10%;
    
    }
}
