/*Proyectos*/
@import "generales/variables";


section {
    figure {
        img {
            margin-top: 20%;
            border-radius: 10px;
        }
    }

    article {
        margin-top: 10%;

        h3 {
            font-size: 30px;
            color: $blue;
        }

        button {
            background-color: $blue;
            color: $white;
            font-size: 16px;
            text-align: center;
            width: 35%;
            height: 40px;
            border-color: $blue;
            margin-top: 8%;
            transform: rotate(360deg);
            a{
                color:$white;
            }
            a:hover{
                color: $white;
                background: pink;
            }
        }

    }
}