/*Header*/
header {
    .navbar-header{
        .navbar-brand{
            color: #ffffff;
        }
    }
    .mia {
        background-color: #3C5066;
    }

    ul {
        li {

            a {
                color: #ffffff;
            }
        }
    }

    button {
        color: #ffffff;


    }

}

/*Footer*/
footer {
    background-color: #1F1F1F;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    height: 90px;

    h2 {
        font-size: 16px;
        color: white;
        font-weight: bold;
        margin-top: 25px;

    }
}