/*Header*/
header {
    .navbar-header{
        .navbar-brand{
            color: #ffffff;
        }
    }
    .mia {
        background-color: #3C5066;
    }

    ul {
        li {

            a {
                color: #ffffff;
            }
        }
    }

    button {
        color: #ffffff;


    }

}

/*Footer*/
footer {
    margin-top: 5%;
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 90px;

    p {
        font-size: 16px;
        color: white;
        font-weight: bold;
        margin-top: 25px;
        padding-top: 5px;
    }
}