/*MediaQ*/


    @media(max-width:480px) {

        body {
        figure{
            .barner{
                margin-top: 15%;
            }
        }
        }

        iframe{
            height: 2000px;
        }
        .contenedor {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "nav  "
                "produc "
                "publi "
                "pie   ";
            gap: 10%;


        }
    }
