$font:'Helvetica', 'Arial', sans-serif;
$blue:#3C5066;
$white:#ffffff;
$black:#000000;

//mixin 
@mixin flex($direccion,$justify,$alig){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $alig;
}